extends base.pug
include mixin/video

block content 
    h1 Home!!
    h2 welcome chantube clone coding site !1
    each video in videos 
        +video(video)
    else 
        h1 sorry not fund video
        