extends base.pug

block content 
    p=video.description
    small=video.createAt
    li
        a(href=`${video.id}/edit`) Edit video &rarr;
    li
        a(href=`${video.id}/delete`) Delete video &rarr;