extends ../base
block content 
    form(method="post")
        input(placeholder="oldPassword")
        input(placeholder="new password")
        input(placeholder="new password confirmation")
        input(value="Change Password" type="submit")